___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>

# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [207]:
def lesser_of_two_evens(a,b):
    if a % 2 == 0 and b % 2 == 0:
        return min(a,b)
    else:
        return max(a,b)

In [208]:
# Check
lesser_of_two_evens(2,4)

2

In [209]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [219]:
def animal_crackers(text):
    wordlist = text.lower().split()
    print(wordlist)

    return wordlist[0][0] == wordlist[1][0]

In [220]:
# Check
animal_crackers('Levelheaded llama')

['levelheaded', 'llama']

True

In [218]:
# Check
animal_crackers('Crazy Kangaroo Fool')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [222]:
def makes_twenty(n1,n2):
    return n1 + n2 == 20 or n1 == 20 or n2 == 20

In [226]:
# Check
makes_twenty(10,10)

True

In [225]:
# Check
makes_twenty(3,10)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [54]:
# My Solution

def old_macdonald(name):
    capital_name = ''
    for i in range(len(name)):
        if i == 0 or i == 3:
            capital_name += name[i].capitalize()
        else:
            capital_name += name[i]
    return capital_name

In [228]:
# Solution from Tutorial
def old_md(name):
    first_half = name[:3]
    second_half = name[3:]

    return first_half.capitalize() + second_half.capitalize()

In [230]:
# Check
old_macdonald('macdonald')
old_md('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [61]:
# My solution

def master_yoda(text):
    yoda = []
    for i in text.split():
        yoda.append(i)
    yoda.reverse()
    yoda_speaks = ' '.join(yoda)
    return yoda_speaks

In [235]:
# Tutorial Solution

def master_y(text):
    wordlist = text.split()
    reverse_wordlist = wordlist[::-1]
    return ' '.join(reverse_wordlist)

In [236]:
# Check
master_y('I am home')

'home am I'

In [63]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [242]:
def almost_there(n):
    return abs(100-n) < 10 or abs(200-n) < 10

In [243]:
# Check
almost_there(104)

True

In [244]:
# Check
almost_there(150)

False

In [245]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [249]:
def has_33(nums):
    for i in range(0,len(nums)-1):
        if nums[i] == 3 and nums[i+1] == 3:
            return True   
    
    return False

In [250]:
# Check
has_33([1, 3, 3])

True

In [251]:
# Check
has_33([1, 3, 1, 3])

False

In [252]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [263]:
def paper_doll(text):
    three_letters = ''
    for i in text:
        three_letters += i*3
    return three_letters

In [264]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [265]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [275]:
# My version
def blackjack(a,b,c):
    card_total = a+b+c
    
    if card_total > 21:
        if a == 11 or b == 11 or c == 11:
            card_total = card_total - 10
            if card_total > 21:
                print('BUST')
            else:
                return card_total
        else:
            print('BUST')
    else:
        return card_total

In [279]:
# Tutorial Version

def black(a,b,c):
    if sum([a,b,c]) <= 21:
        return sum([a,b,c])
    elif 11 in [a,b,c] and sum([a,b,c]) <=31:
        return sum([a,b,c])-10
    else:
        return "BUST"

In [276]:
# Check
blackjack(5,6,7)

18

In [277]:
# Check
blackjack(9,9,9)

BUST

In [278]:
# Check
blackjack(9,9,11)

19

In [280]:
black(5,6,7)

18

In [281]:
black(9,9,11)

19

In [282]:
black(9,9,9)

'BUST'

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [386]:
# My Solution

def summer_69(arr):
    new_arr = []

    for i in range(0,len(arr)):
        if arr[i] == 6:
            if arr[i+1] != 9 :
                new_arr.append(0)
            else:
                pass
        else:
            new_arr.append(arr[i])
    return (new_arr)
    print(new_arr)

In [422]:
# Solution

def summer(arr):
    total = 0
    add = True
    for num in arr:
        while add:
            if num != 6:
                total += num
                break
            else:
                add = False
        while not add:
            if num != 9:
                break
            else:
                add = True
                break
    return total

In [423]:
# Check
summer([1, 3, 5])

9

In [424]:
# Check
summer([4, 5, 6, 7, 8, 9])

9

In [426]:
# Check
summer([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [463]:
def spy_game(nums):
    new_nums = []
    
    for i in nums:
        if i == 0 or i == 7:
            new_nums.append(i)
    
    print(new_nums)
    if new_nums == [0,0,7]:
        return True
    else:
        return False
            
# My solution works for this exact problem but doesn't handle extra 0,7s after finding 007
# Instructor method below

def spy_game(nums):
    code = [0,0,7,'x']
    
    for i in nums:
        if i == code[0]:
            code.pop(0)
            print(code)
    return len(code) == 1

# Instructor code doesn't account for extra seven's in between 0s. Not sure if that's an issue for current problem set, but does raise an interesting question about the code.

In [466]:
# Check
spy_game([1,2,4,0,7,0,7,5])

[0, 7, 'x']
[7, 'x']
['x']

True

In [465]:
# Check
spy_game([7,1,0,2,4,0,5,7,0])

[0, 7, 'x']
[7, 'x']
['x']

True

In [459]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [36]:
def count_primes(num):
    
    if num <=1:
        return 0

    count = 0
    x = 3
    while x <= num:
        for i in range(3,x):
            if x % i == 0:
                x+=1
                break
        else:
            count += 1
            x+=1
    print(count)
    print(x)

In [37]:
def count_prime(num):
    if num < 2:
        return 0

    # 2 or greater
    primes = [2]
    x = 3

    while x <= num:
        for y in range(3,x,2):
            if x % y == 0:
                x +=2
                break
        else:
            primes.append(x)
            x +=2
    print(primes)
    return len(primes)

In [38]:
count_primes(100)

25
101

In [3]:
# Check
count_prime(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [110]:
def print_big(letter):
    patterns = {1:'   *   ',2:' *****',3:' *   *'}
    alphabet = {'A':[1,3,2,3,3]}

    for pattern in alphabet[letter.upper()]:
        print(patterns[pattern])

In [111]:
print_big('a')

   *
 *   *
 *****
 *   *
 *   *

## Great Job!

In [89]:
mydict = {'a':10, 'b':20}

for i,x in mydict.items():
    print(x)

10
20