Control flow allows for logic

In [3]:
hungry = True

if hungry:
    print('Feed me!')
else:
    print("I'm full")

Feed me!

In [5]:
loc = 'Bank'

if loc == 'Auto Shop':
    print("Cars are cool!")

elif loc == str.capitalize('bank'):
    print("Money is cool")

else:
    print("I don't know much")

Money is cool

In [7]:
name = 'Frank'

if name == 'Sammy':
    print('Hello Sammy')
elif name == 'John':
    print('Hello John')
else:
    print("What is your name?")

What is your name?

For Loops

In [12]:
names = ['John','Frank','Sammy']

for i in names:
    print('Sucker')

Sucker
Sucker
Sucker

In [13]:
numlist = [1,2,3,4,5,6,7,8,9,10]

for i in numlist:
    if i % 2 == 0:
        print(i)
    else:
        print("Odd numbers are {}".format(i))

Odd numbers are 1
2
Odd numbers are 3
4
Odd numbers are 5
6
Odd numbers are 7
8
Odd numbers are 9
10

In [18]:
list_sum = 0

for num in numlist:
    list_sum = list_sum + num

print(list_sum)

55

In [19]:
mystring = 'Hello World'

for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [20]:
for i in 'Hello World':
    print(i)

H
e
l
l
o

W
o
r
l
d

In [23]:
for _ in 'Hello World':
    print('Test')

Test
Test
Test
Test
Test
Test
Test
Test
Test
Test
Test

In [24]:
mylist = [(1,2),(3,4),(5,6),(7,8)]

In [25]:
len(mylist)

4

In [26]:
for i in mylist:
    print(i)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [27]:
for (a,b) in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

Tuple unpacking allows for sequencing of pairs

In [28]:
for a,b in mylist:
    print(a,b)

1 2
3 4
5 6
7 8

In [36]:
d = {'Apples':20,'Oranges':21,'Bananas':30}

for key,value in d.items():
    print(key + "\nCost: {}".format(value))

Apples
Cost: 20
Oranges
Cost: 21
Bananas
Cost: 30

While Loops

In [7]:
x = 0

while x < 5:
    print('The current value of x is: {}'.format(x))
    x+=1
else:
    print('X is greater than 5')

The current value of x is: 0
The current value of x is: 1
The current value of x is: 2
The current value of x is: 3
The current value of x is: 4
X is greater than 5

In [9]:
x = [1,2,3]

for item in x:
    pass #helps avoid syntax errors when you don't know what to do with your for loop

In [10]:
mystring = "John"

In [12]:
for letter in mystring:
    if letter == "o":
        continue # continue the loop and skip over something
    print(letter)

J
h
n

In [16]:
x = 5

while x < 20:
    if x == 10:
        break
    print(x)
    x += 1

5
6
7
8
9

Useful Operators

In [21]:
numlist = [1,2,3]

for num in range(3,11,2):
    print(num)

3
5
7
9

In [22]:
list(range(0,20,3))

[0, 3, 6, 9, 12, 15, 18]

In [23]:
index_count = 0

for letter in 'abcde':
    print('At index {} the leter is {}'.format(index_count,letter))
    index_count += 1

At index 0 the leter is a
At index 1 the leter is b
At index 2 the leter is c
At index 3 the leter is d
At index 4 the leter is e

In [24]:
index_count = 0
word = 'Johnny'

for letter in word:
    print(word[index_count])
    index_count += 1

J
o
h
n
n
y

In [27]:
word = "Test"

for index,letter in enumerate(word):
    print(letter)

T
e
s
t

In [30]:
mylist1 = [1,2,3]
mylist2 = ['a','b','c']
mylist3 = [10,20,30]

for x in zip(mylist1,mylist2,mylist3):
    print(x)

(1, 'a', 10)
(2, 'b', 20)
(3, 'c', 30)

In [31]:
list(zip(mylist2,mylist3))

[('a', 10), ('b', 20), ('c', 30)]

In [32]:
'x' in [1,2,3]

False

In [33]:
10 in mylist3

True

In [35]:
'j' in 'Johnny'

False

In [46]:
mylist = list(range(0,101))

for i in mylist:
    if i % 2 == 1:
        continue
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [47]:
min(mylist)

0

In [51]:
max(mylist)

100

In [52]:
shuffle(mylist)

NameError: name 'shuffle' is not defined

In [53]:
from random import shuffle

In [54]:
shuffle(mylist)

In [55]:
mylist

[40,
 69,
 91,
 50,
 4,
 90,
 9,
 37,
 38,
 83,
 41,
 61,
 86,
 94,
 36,
 80,
 20,
 47,
 64,
 88,
 5,
 42,
 6,
 76,
 18,
 95,
 27,
 55,
 2,
 89,
 26,
 73,
 39,
 28,
 81,
 52,
 35,
 85,
 45,
 8,
 33,
 87,
 7,
 66,
 93,
 67,
 1,
 58,
 46,
 97,
 10,
 71,
 43,
 49,
 31,
 68,
 53,
 29,
 44,
 59,
 48,
 23,
 79,
 32,
 82,
 98,
 56,
 96,
 65,
 16,
 84,
 25,
 51,
 17,
 74,
 72,
 75,
 60,
 92,
 21,
 22,
 77,
 62,
 11,
 57,
 70,
 34,
 14,
 3,
 19,
 78,
 15,
 24,
 100,
 0,
 30,
 12,
 54,
 99,
 63,
 13]

In [56]:
from random import randint

In [60]:
randint(9,20)

20

In [61]:
ran_num = randint(0,20)

In [62]:
print(ran_num)

16

In [78]:
result = int(input('What is your favorite number?'))

print('Your favorite number is {}'.format(result))

Your favorite number is 20

In [72]:
type(result)

int

List Comprehensions

In [79]:
mystring = 'hello'

In [80]:
mylist = []

for letter in mystring:
    mylist.append(letter)

In [81]:
mylist

['h', 'e', 'l', 'l', 'o']

In [85]:
mystring2 ='testing'

In [86]:
mylist = [letter for letter in mystring2]

In [87]:
mylist

['t', 'e', 's', 't', 'i', 'n', 'g']

In [90]:
numlist = [ num**2 for num in range(0,11)]

In [91]:
numlist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [92]:
mylist = [x for x in range(0,11) if x%2==0]

In [93]:
mylist

[0, 2, 4, 6, 8, 10]

In [96]:
celcius = [0,10,20,34.5]

fahrenheit = [ ((9/5) * temp + 32) for temp in celcius]

print(fahrenheit)

[32.0, 50.0, 68.0, 94.1]

In [100]:
money = [200,400,11.5,382,3948]

convert = [ (amount * 2) for amount in money] #line comprehensions are amazing

print(convert)

[400, 800, 23.0, 764, 7896]

In [101]:
mylist = []

for x in [2,4,6]:
    for y in [100,200,300]:
        mylist.append(x*y)

In [102]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [103]:
mylist = [x*y for x in [2,4,6] for y in [1,10,1000]]

In [104]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]