Lists

In [1]:
my_list = [1,2,3]

In [2]:
my_list

[1, 2, 3]

In [3]:
print(my_list[1])

2

In [4]:
mylist = ['one','two','three']

In [5]:
mylist[1::2]

['two']

In [6]:
list_two = ['four','five']

In [8]:
mylist + list_two

['one', 'two', 'three', 'four', 'five']

In [9]:
new_list = mylist + list_two

In [10]:
new_list

['one', 'two', 'three', 'four', 'five']

In [11]:
new_list[0] = 'ONE ALL CAPs'

In [12]:
new_list

['ONE ALL CAPs', 'two', 'three', 'four', 'five']

In [13]:
new_list.append('Six')

In [14]:
new_list

['ONE ALL CAPs', 'two', 'three', 'four', 'five', 'Six']

In [15]:
new_list.count()

TypeError: count() takes exactly one argument (0 given)

In [20]:
new_list.pop(3)

'four'

In [21]:
new_list

['ONE ALL CAPs', 'two', 'three', 'five', 'Six']

In [22]:
new_list.pop()

'Six'

In [23]:
new_list

['ONE ALL CAPs', 'two', 'three', 'five']

Pop and append remove and add to the end of the list

In [24]:
new_list = ['a','b','c']
num_list = [4,1,8,3]

In [25]:
num_list.sort()

In [26]:
num_list

[1, 3, 4, 8]

In [27]:
num_list.reverse()

In [28]:
num_list

[8, 4, 3, 1]

In [29]:
reversed_list = num_list

In [ ]:
[""]